<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-brand" do %>
            Chat
          <% end %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in?  %>
              <%= yield :right_nav %>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Settings", edit_user_registration_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container" style="padding-top: 100px;">
      <div class="messaging">
        <div class="inbox_msg">
          <% if user_signed_in?%>
            <div class="inbox_people">
              <div class="profile_head">
                <% if current_user.image.present? %>
                  <%= image_tag current_user.image.image.url(:thumb), class: "active_user_image" %>
                <% else %>
                  <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" class="active_user_image">
                <% end %>
                <span class="active_user"><%= current_user.get_fullname %></span>
                <div class="srch_bar">
                  <div class="stylish-input-group">
                    <input type="text" class="search-bar form-control"  placeholder="Search" >
                  </div>
                </div>
                <div class="new_chatroom_icon">
                  <%= link_to new_chatroom_path, class: "" do %>
                      <i class="fa fa-plus fa-2x" aria-hidden="true" title= "New chatroom"></i>
                  <% end %>
                  <%= link_to edit_user_registration_path, class: "" do %>
                      <i class="fa fa-gear fa-2x" aria-hidden="true" title= "Settings"></i>
                  <% end %>
                </div>
              </div>
              <div class="inbox_chat">
                <% current_user.active_chatroom.each do |chatroom| %>
                  <% if chatroom.direct_message == false %>
                    <div class="chat_list">
                      <div class="chat_people">
                        <div class="chat_img">
                          <% if chatroom.image.present? %>
                            <%= image_tag chatroom.image.image.url, class: "user_dp"%>
                          <% else %>
                            <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                          <% end %>
                        </div>
                        <div class="chat_ib">
                          <h5><%= link_to chatroom.name, chatroom, data: {behavior: "chatroom-link", chatroom_id: chatroom.id} %>
                          <% if chatroom.messages.present? %>
                            <span class="chat_date"><%= chat_date(chatroom)%></span>
                            <span class='badge' style= "display: none;">1</span></h5>
                            <p><%=chatroom.messages.last.body%></p>
                          <% else %>
                            <p>Start your conversation</p>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <% user = chatroom.other_user(current_user) %>
                    <div class="chat_list">
                      <div class="chat_people">
                        <div class="chat_img">
                        <% if user.image.present? %>
                          <%= image_tag user.image.image.url(:profile), class: "user_dp"%>
                        <% else %>
                          <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                        <% end %>
                        </div>
                        <div class="chat_ib">
                        <% user_chatroom = Chatroom.direct_message_for_users([current_user, user]) %>
                          <h5><%= link_to user.username, direct_message_path(user.id), data: {behavior: "chatroom-link", chatroom_id: user_chatroom.id } %>
                          <% if user_chatroom.messages.present? %>
                            <span class="chat_date"><%= chat_date(user_chatroom)%></span>
                            <span class='badge' style= "display: none;">1</span></h5>
                            <p><%=user_chatroom.messages.last.body%></p>
                          <% else %>
                            <p>Start your conversation</p>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
          <%=yield%>
        </div>
      </div>
    </div>

  </body>
</html>
